
.UVPLargePlayButtonSelectedState {
    background-color: inherit !important;
    font-size: 46px !important;
}
.UVPLargePlayButtonNormalState {
    background-color: inherit !important;
    font-size: 46px !important;
}
.fwduvp-rewind-button .UVPMainButtonsNormalState {
    transform: translate(400px, -315px);
}
.fwduvp-rewind-button .UVPMainButtonsSelectedState {
    transform: translate(400px, -315px);
    color: #999999 !important;
}
.fwduvp-rewind-button .UVPMainButtonsNormalState .fwdicon-10 {
    font-size: 40px;
}
.fwduvp-rewind-button .UVPMainButtonsSelectedState .fwdicon-10 {
    font-size: 40px;
}
