/** edit.css **/

.bord {
  background-color: var(--background-grey-bg-color);
  border-color: var(--background-grey-bg-color);
  transition: 0.5s;
  padding: 20px 30px;
}

.blog-home-main-block {
  height: 100px;
  padding: 22px 22px;
  font-size: 40px;
  color: white;
}

.name {
  font-size: 25px;
}

.s-left {
  position: relative;
  left: 64px;
}

.s-left1 {
  position: relative;
  left: 47px;
}

.s-left2 {
  position: relative;
  left: 17px;
}

.s-color {
  color: #a6a6a6;
}
.job-edit-main-block {
  padding: 80px 0;
}
.job-edit-main-block label {
  font-size: 14px;
  font-weight: 500;
}
.job-edit-main-block .form-control {
  height: 45px;
  font-size: 14px;
  border: inherit;
}
.job-edit-main-block #size {
  height: 45px !important;
}
.job-edit-main-block .custom-file-label {
  height: 45px;
  padding: 11px 12px !important;
  border: inherit;
}
.job-edit-main-block .custom-file-label::after {
  height: 45px;
  padding: 11px !important;
}