/** find.css **/
.title {
  margin-bottom: 5px;
}

.p-color {
  margin-bottom: 5px;
  font-size: 13px;
  color: #4d4d4d;

}

.job-image {
  height: 80px;
  width: 80px;
  border-radius: 6px;
}

.date-color {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.date-color svg.feather {
  color: #28A745;
}


.card {
  border-color: var(--background-grey-bg-color);
  background-color: var(--background-grey-bg-color);
  border-radius: 6px;

}

.verfied {
  height: 20px;
  width: 20px;
}

.blog-home-main-block {
  height: 100px;
  padding: 15px 15px;
  font-size: 40px;
  color: white;

}

.company-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.submit_button {
  height: 30px;
  border-radius: 2px;
  background-color: var(--background-blue-bg-color);
  border: var(--background-blue-bg-color);
  color: #FFF;
}

.job-find-main-block {
  padding: 80px 0;
}

.search-color {
  background-color: var(--background-blue-bg-color);
}

.job-find-main-block .text-primary {
  color: var(--text-blue-color) !important;
}
.job-find-main-block svg.feather {
  margin: 0 10px 0 0;
}

