/** index.css **/

.title {
  margin-bottom: 5px;
}

.top {
  border-color: white;
}

.button a:hover {
  color: var(--text-blue-color);
  background-color: #FFF;
  border-left: 3px solid var(--text-blue-color);
}

.button .active {
  color: var(--text-blue-color);
  background-color: #FFF;
  border-left: 3px solid var(--text-blue-color);
}

.p-color {
  margin-bottom: 5px;
  font-size: 13px;
  color: #4d4d4d;
}

.button a {
  color: #716E6E;
  padding: 28px 0 15px;
}

#size {
  padding-block-start: 2px;
  padding-block-end: 2px;
  height: 42px;
}

.card {
  border-color: var(--background-grey-bg-color);
  background-color: var(--background-grey-bg-color);
  border-radius: 6px;
}

.job-image {
  height: 80px;
  width: 80px;
}

.date-color {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.date-color svg.feather {
  color: #28A745;
}
.apply-button {
  position: relative;
  top: 50px;
  height: 40px;
  padding-block-start: 2px;
  padding-block-end: 2px;
}

.delete-color {
  background-color: #ed684a;
  border-color: #d84012;

}

.delete-color:hover {
  background-color: #fa4700;
  border-color: #e05924;

}

.modal-dialog {
  max-width: 300px !important;
}

.edit_button {
  background-color: rgb(128, 211, 193);
  border-color: rgb(128, 211, 193);

}

.edit_button:hover {
  background-color: rgb(128, 211, 193);
  border-color: rgb(128, 211, 193);
}

.message_color {
  background-color: rgb(242, 37, 37);
  color: white;
  padding: 10px;
}
.job-portal-block svg.feather {
  margin: 0 10px 0 0;
}
.applicants {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.create-job-block-btn svg.feather {
  margin: 0;
  color: #FFF;
}
.create-job-block-btn a {
  line-height: 2.2;
}


.profile-info-block label {
  font-size: 14px;
  font-weight: 500;
}
.profile-info-block .form-control {
  height: 45px;
  font-size: 14px;
  border: inherit;
}
.profile-info-block #size {
  height: 45px !important;
}
.profile-info-block .custom-file-label {
  height: 45px;
  padding: 11px 12px !important;
  border: inherit;
}
.profile-info-block .custom-file-label::after {
  height: 45px;
  padding: 11px !important;
}